fastapi
#fastapi-lifespan-manager
uvicorn
fastapi-socketio
nltk
PyPDF2
bs4
pymongo
pydantic
python-jose[cryptography]
google-api-python-client
google-auth-oauthlib
google-cloud-speech
pyaudio
google-generativeai
faiss-cpu
transformers
sentence-transformers
tensorflow-hub
starlette
loguru
websockets